.wrapper {
  position: relative;
  width: 100%;
}

.input {
  width: 30%;
  height: 4rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
  color: inherit;
  transition: background .2s ease-out, width .2s ease-out;
  font: 1.6rem 'Open Sans';
  padding: .8rem .8rem .8rem 4rem;

  &:hover {
    background: rgba(255, 255, 255, 0.25);

    .icongit {
      color: #fff;
    }
  }

  &:focus {
    width: 50%;
  }

  &::placeholder {
    color: #c4c7c5;
  }
}

.icon {
  position: absolute;
  top: 50%;
  left: .8rem;
  transform: translateY(-50%);
  color: #c4c7c5;
  transition: color .2s ease-out;
}