@use 'variables' as variables;

* {
  box-sizing: border-box;
}

html {
  font-size: variables.$font-size-base;
}

body {
  font: variables.$font-size-base variables.$font-family-base;
  background: #1f1f1f;
  color: #fff;
}

a {
  color: inherit;
}