@use '/src/styles/variables' as variables;

.wrapper {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 6.4rem;
  background: rgb(25, 118, 210);
  box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0, rgb(0 0 0 / 12%) 0 1px 10px 0;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30rem;
  padding: 0 2rem 0 2.4rem;

  font-size: 1.75rem;
}

.logoText {
  margin-left: 1.6rem;
}

.search {
  display: flex;
  flex-grow: 1;
  // justify-content: flex-end;
}

.user {
  padding: 0 1.2rem 0 0;
}